@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

/*****************************
Sommaire

1) Paramètres ligne 17
2) Main
3) Section Baleines
4) Section Paysages
5) Section océan
6) Section oiseaux
7) Section nourriture
8) Section cultures

*****************************/

/*** Paramètres ***/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

/*** Main ***/

#main{
    min-height: 100vh;
    background: url(./images/island.jpg);
}

.island h1{
    text-transform: uppercase;
    font-family: 'Finger Paint', cursive;
    font-weight: lighter;
    text-align: center;
    padding-top: 1.5rem;
    letter-spacing: 5px;
    color: white;
    font-size: 3.5rem;
    animation: fade 10s;
}

@keyframes fade {

    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
    
}

.dot{
    min-height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dot div{
    display: flex;
    flex-direction: column;
}

.dot span{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin: 3rem;
    margin-top: 8rem;
    cursor: pointer;
}

span{
    display: flex;
    justify-content: center;
}

span a{
    text-decoration: none;
    color: white;
    text-align: center;
}

.dot span:hover{
    transition: 750ms;
   transform: scale(1.5);
}

/*** Section Baleines ***/

#whale-section{
    min-height: 100vh;
    background: url(./images/baleine.jpg);
    display: none;
}

.content{
    width: 320px;
}

/*** Section Paysages ***/

#landscape-section{
    min-height: 100vh;
    background: url(./images/landscape.jpg);
    display: none;
}

/*** Section océan ***/

#sea-section{
    display: none;
}

/*** Section oiseaux ***/

#birds-section{
    display: none;
}

/*** Section nourriture ***/

#food-section{
    display: none;
}

/*** Section cultures ***/

#culture-section{
    display: none;
}