@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*****************************
Sommaire

1) Paramètres ligne 17
2) Main
3) Section Baleines
4) Section Paysages
5) Section océan
6) Section oiseaux
7) Section nourriture
8) Section cultures

*****************************/

/*** Paramètres ***/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

/*** Main ***/

.containerindex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0.rem;
}

.button2 {
    position: absolute;
    width: 700px;
    left:0;
    top: 230px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  }
  
  .button2 a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .container2:hover .button2 {
    opacity: 1;
  }

  .container2 {
    position: relative;
    width: 700px;
    height: 400px;
    margin: 1rem;
  }
  
  .overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
    box-shadow: 0px 4px 9px 0px #00000059;
    border-radius: 5px;
  }
  
  .container2:hover .overlay2 {
    display: block;
    background: rgba(0, 0, 0, .3);
  }
  
  .container2 img {
    position: absolute;
    width: 700px;
    height: 400px;
    left: 0;
  }
  
  .title2 {
    position: absolute;
    letter-spacing: 5px;
    width: 700px;
    left: 0;
    top: 120px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
    text-shadow: 5px 5px 20px rgb(144, 144, 144);
  }
  
  .container2:hover .title {
    top: 90px;
  }

/*** Section Baleines ***/

#whale-section{
    min-height: 100vh;
    background: url(./images/baleine.jpg);
    display: none;
}

.content{
    width: 320px;
}

/*** Section Paysages ***/



.return{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding-block: 2rem;
    box-shadow: 0px 5px 20px rgb(144, 144, 144);
}

.return a{
    text-decoration: none;
    font-size: 2em;
    color: black;
    margin-left: 9rem;
}

.return h1{
    margin-right: 7rem;
    letter-spacing: 0.3rem;
    font-family: 'Cormorant Garamond', serif;
    font-weight: lighter;
    text-transform: uppercase;
}

b{
    color: rgb(233, 162, 81);
}

.home{
    width: 30px;
}

.containerall{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    
}

.container {
    position: relative;
    width: 500px;
    height: 300px;
    margin: 2rem;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
    box-shadow: 0px 4px 9px 0px #00000059;
    border-radius: 5px;
  }
  
  .container:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
  }
  
  .container img {
    position: absolute;
    width: 500px;
    height: 300px;
    left: 0;
  }
  
  .title {
    position: absolute;
    letter-spacing: 5px;
    width: 500px;
    left: 0;
    top: 120px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
    text-shadow: 5px 5px 20px rgb(144, 144, 144);
  }
  
  .container:hover .title {
    top: 90px;
  }
  
  .container:hover .button {
    opacity: 1;
  }

/*** Section océan ***/

#sea-section{
    display: none;
    min-height: 100vh;
    background: url(./images/sea.jpg);
    background-size: cover;
    display: none;
}

/*** Section animaux ***/

.container3 {
    position: relative;
    width: 500px;
    height: 300px;
  }

  .container3:hover .title {
    top: 90px;
  }
  
  .container3:hover .button {
    opacity: 1;
  }

  .container3:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
  }
  
  .container3 img {
    position: absolute;
    width: 500px;
    height: 300px;
    left: 0;
  }

/*** Section nourriture ***/



/*** Section cultures ***/

#culture-section{
    display: none;
}